{# Produits d'un groupe, rangés par catégorie. Attend `groupe`. #}
{% import "partials/icones.html" as i %}
{% set g = groupes[groupe] %}
<div class="catalogue">
  {% for c in g.categories %}
  {% set liste = produits[groupe]|selectattr("categorie", "equalto", c)|list %}
  {% if liste %}
  <section class="catalogue__categorie" aria-labelledby="cat-{{ groupe }}-{{ loop.index }}">
    <h3 class="catalogue__titre" id="cat-{{ groupe }}-{{ loop.index }}">{{ c }}</h3>
    <div class="cartes">
      {% for p in liste %}{% include "partials/carte-produit.html" %}{% endfor %}
    </div>
  </section>
  {% endif %}
  {% endfor %}
</div>
