{% import "partials/icones.html" as i %}
<ul class="cartes-produits">
  {% for p in liste %}
  <li>
    <a class="carte-produit{% if p.page %} carte-produit--calcul{% endif %}" href="{{ produit_url(p) }}">
      <span class="carte-produit__icone">{{ i.icone(p.icone) }}</span>
      <span class="carte-produit__nom">{{ p.nom }}</span>
      <span class="carte-produit__desc">{{ p.desc }}</span>
      <span class="carte-produit__lien">{% if p.slug in ("3e-pilier", "garantie-de-loyer") %}{{ i.icone("calcul", "icone icone--petite") }} Calcul immédiat{% elif p.page %}{{ i.icone("horloge", "icone icone--petite") }} Offres en 2 minutes{% else %}Demander une offre{% endif %}</span>
    </a>
  </li>
  {% endfor %}
</ul>
