{% import "partials/icones.html" as i %}
{% import "partials/form.html" as f %}
{% extends "base.html" %}
{% block theme %}prive{% endblock %}
{% block title %}RC privée : calculez votre prime en 2 minutes | Assuravia{% endblock %}
{% block description %}Simulez votre responsabilité civile privée : prime immédiate, options protection juridique et cyber, et possibilité de la combiner avec l'assurance ménage.{% endblock %}
{% block content %}
<section class="funnel-page">
  <div class="cadre cadre--etroit">
    <nav class="fil" aria-label="Fil d'Ariane"><a href="/">Accueil</a> <span aria-hidden="true">/</span> <a href="/particuliers/">Privé</a> <span aria-hidden="true">/</span> <a href="/particuliers/rc-privee/">RC privée</a></nav>
    <p class="etiquette etiquette--prive">{{ i.icone("bouclier", "icone icone--petite") }} Simulation RC privée</p>

    <div class="funnel" data-funnel data-prime-base="110" data-prime-nom="Responsabilité civile privée">
      <div class="funnel__haut">
        <button type="button" class="funnel__retour" data-funnel-retour hidden>{{ i.icone("fleche", "icone icone--petite carrousel__retour") }} Retour</button>
        <p class="funnel__etape-num" data-funnel-compteur>Étape 1</p>
      </div>
      <div class="funnel__progression" aria-hidden="true"><span data-funnel-barre></span></div>

      {{ f.ouvrir("simulation-rc-privee", "rc-privee") }}
        <input type="hidden" name="etape_atteinte" value="" data-funnel-etat>
        <input type="hidden" name="somme_assuree" data-calc="somme">
        <input type="hidden" name="formule_choisie" data-calc="formule">
        <input type="hidden" name="prime_menage" data-calc="prime_menage">
        <input type="hidden" name="prime_totale" data-calc="prime_totale">
        <input type="hidden" name="suite_souhaitee" value="" data-funnel-action>

        <fieldset class="fe" data-fe="1">
          <legend class="fe__question">Commençons : comment vous appelez-vous ?</legend>
          <div class="grille-champs">
            <div class="champ"><label for="prenom-rc">Prénom</label><input id="prenom-rc" name="prenom" required autocomplete="given-name" placeholder="Jean"></div>
            <div class="champ"><label for="nom-rc">Nom</label><input id="nom-rc" name="nom" required autocomplete="family-name" placeholder="Dupont"></div>
          </div>
          <button type="button" class="bouton bouton--prive fe__suivant" data-fe-suivant>Continuer</button>
        </fieldset>
        <fieldset class="fe" data-fe="2" hidden>
          <legend class="fe__question">Où habitez-vous ?</legend>
          <div class="choix-cartes">
            <label class="choix-carte"><input type="radio" name="logement" value="Appartement" required data-fe-auto><span class="choix-carte__icone">{{ i.icone("batiment") }}</span><span>Appartement</span></label>
            <label class="choix-carte"><input type="radio" name="logement" value="Maison" required data-fe-auto><span class="choix-carte__icone">{{ i.icone("maison") }}</span><span>Maison</span></label>
          </div>
        </fieldset>
        <fieldset class="fe" data-fe="3" hidden>
          <legend class="fe__question">Vous êtes…</legend>
          <div class="choix-cartes">
            <label class="choix-carte"><input type="radio" name="statut" value="Locataire" required><span class="choix-carte__icone">{{ i.icone("cle") }}</span><span>Locataire</span></label>
            <label class="choix-carte"><input type="radio" name="statut" value="Propriétaire" required><span class="choix-carte__icone">{{ i.icone("maison") }}</span><span>Propriétaire</span></label>
          </div>
          <div class="consentement fe__option" data-si-proprietaire hidden>
            <input id="batiment-rc" name="revoir_batiment" type="checkbox" value="oui">
            <label for="batiment-rc">Je souhaite aussi revoir mon assurance bâtiment.</label>
          </div>
          <button type="button" class="bouton bouton--prive fe__suivant" data-fe-suivant>Continuer</button>
        </fieldset>
        <fieldset class="fe" data-fe="4" hidden>
          <legend class="fe__question">Quelle est l'adresse du logement ?</legend>
          {{ f.adresse("logement") }}
          <button type="button" class="bouton bouton--prive fe__suivant" data-fe-suivant>Continuer</button>
        </fieldset>
        <fieldset class="fe" data-fe="5" hidden>
          <legend class="fe__question">Combien de personnes vivent dans le ménage ?</legend>
          <div class="compteurs">
            <div class="compteur" data-compteur>
              <span class="compteur__label">Adultes</span>
              <button type="button" class="compteur__bouton" data-compteur-moins aria-label="Un adulte de moins">−</button>
              <input class="compteur__valeur" name="adultes" type="number" min="1" max="10" value="1" readonly aria-label="Nombre d'adultes">
              <button type="button" class="compteur__bouton" data-compteur-plus aria-label="Un adulte de plus">+</button>
            </div>
            <div class="compteur" data-compteur>
              <span class="compteur__label">Enfants <small>(moins de 14 ans)</small></span>
              <button type="button" class="compteur__bouton" data-compteur-moins aria-label="Un enfant de moins">−</button>
              <input class="compteur__valeur" name="enfants" type="number" min="0" max="10" value="0" readonly aria-label="Nombre d'enfants">
              <button type="button" class="compteur__bouton" data-compteur-plus aria-label="Un enfant de plus">+</button>
            </div>
          </div>
          <button type="button" class="bouton bouton--prive fe__suivant" data-fe-suivant>Continuer</button>
        </fieldset>
        <fieldset class="fe" data-fe="6" hidden>
          <legend class="fe__question">Ajouter une protection juridique ?</legend>
          <p class="fe__aide">Litige avec votre bailleur, votre employeur ou un vendeur : les frais d'avocat et de procédure sont pris en charge.</p>
          <div class="choix-cartes">
            <label class="choix-carte choix-carte--compact"><input type="radio" name="option_pj" value="oui" data-prix="250" required data-fe-auto><span>Oui <small>+ CHF 250 / an</small></span></label>
            <label class="choix-carte choix-carte--compact"><input type="radio" name="option_pj" value="non" data-prix="0" required data-fe-auto><span>Non merci</span></label>
          </div>
        </fieldset>
        <fieldset class="fe" data-fe="7" hidden>
          <legend class="fe__question">Ajouter une cyberassurance ?</legend>
          <p class="fe__aide">Piratage de vos comptes, achat en ligne frauduleux, atteinte à votre réputation sur internet.</p>
          <div class="choix-cartes">
            <label class="choix-carte choix-carte--compact"><input type="radio" name="option_cyber" value="oui" data-prix="50" required data-fe-auto><span>Oui <small>+ CHF 50 / an</small></span></label>
            <label class="choix-carte choix-carte--compact"><input type="radio" name="option_cyber" value="non" data-prix="0" required data-fe-auto><span>Non merci</span></label>
          </div>
        </fieldset>
        <fieldset class="fe" data-fe="8" hidden>
          <legend class="fe__question">Combiner avec une assurance ménage ?</legend>
          <p class="fe__aide">La RC privée protège les autres, l'assurance ménage protège vos propres affaires. Les deux se combinent dans un même contrat.</p>
          <div class="choix-cartes">
            <label class="choix-carte choix-carte--compact"><input type="radio" name="interet_menage" value="oui" required data-fe-auto><span>Oui, je veux aussi un devis ménage</span></label>
            <label class="choix-carte choix-carte--compact"><input type="radio" name="interet_menage" value="non" required data-fe-auto><span>Non, seulement la RC</span></label>
          </div>
        </fieldset>
        <fieldset class="fe" data-fe="9" hidden>
          <legend class="fe__question">Souhaitez-vous aussi payer moins d'impôts ?</legend>
          <p class="fe__aide">Un spécialiste peut vous montrer ce que le 3e pilier ou votre déclaration peuvent vous faire gagner.</p>
          <div class="choix-cartes">
            <label class="choix-carte choix-carte--compact"><input type="radio" name="economiser_impots" value="oui" required data-fe-auto><span>Oui, ça m'intéresse</span></label>
            <label class="choix-carte choix-carte--compact"><input type="radio" name="economiser_impots" value="non" required data-fe-auto><span>Non merci</span></label>
          </div>
        </fieldset>
        <fieldset class="fe" data-fe="10" hidden>
          <legend class="fe__question">Votre prime est prête</legend>
          <div class="apercu-prime">
            <p class="apercu-prime__label">Votre prime annuelle estimée</p>
            <p class="apercu-prime__montant floute" data-affiche="total_floute">CHF 000.00</p>
            <p class="fe__aide">Indiquez où vous joindre pour l'afficher et recevoir votre récapitulatif.</p>
          </div>
          <div class="grille-champs">
            {{ f.telephone("rc") }}
            <div class="champ"><label for="email-rc">E-mail</label><input id="email-rc" name="email" type="email" required autocomplete="email" placeholder="jean.dupont@gmail.com"></div>
            {{ f.naissance("rc") }}
          </div>
          <div class="consentement">
            <input id="consentement-rc" name="consentement" type="checkbox" value="oui" required>
            <label for="consentement-rc">J'accepte d'être contacté par téléphone ou e-mail au sujet de ma demande, par un conseiller Assuravia ou par un partenaire spécialisé à qui elle peut être transmise. Mes données sont traitées selon la <a href="/confidentialite/" target="_blank">politique de protection des données</a>.</label>
          </div>
          <button type="button" class="bouton bouton--action fe__suivant" data-fe-suivant data-fe-envoi="prix">Afficher ma prime</button>
        </fieldset>
        <fieldset class="fe" data-fe="11" data-fe-final hidden>
          <legend class="fe__question"><span data-affiche="prenom"></span>, voici votre estimation</legend>
          <div class="resultat-prime">
            <p class="resultat-prime__label">Prime annuelle estimée</p>
            <p class="resultat-prime__montant" data-affiche="total">CHF 0</p>
            <p class="resultat-prime__mois" data-affiche="mois"></p>
            <ul class="resultat-prime__detail" data-affiche="detail"></ul>
            <p class="resultat__avertissement">Estimation indicative selon les informations fournies. L'offre définitive, les conditions et la prime exacte sont établies par l'assureur.</p>
          </div>
          <div class="resultat-actions">
            <button type="submit" class="bouton bouton--action" data-fe-action="souscription">Envoyer ma demande de souscription</button>
            <button type="submit" class="bouton bouton--prive" data-fe-action="rappel">Être recontacté par un conseiller</button>
            <button type="button" class="bouton bouton--secondaire" data-fe-modifier="6">Modifier ma simulation</button>
          </div>
        </fieldset>
      </form>
    </div>

    <ul class="funnel__garanties">
      <li>{{ i.icone("valide", "icone icone--petite") }} Gratuit et sans engagement</li>
      <li>{{ i.icone("horloge", "icone icone--petite") }} 2 minutes</li>
      <li>{{ i.icone("cadenas", "icone icone--petite") }} Données protégées (nLPD)</li>
    </ul>
  </div>
</section>
{% endblock %}
