{% extends "base.html" %}
{% block title %}Guide assurance et prévoyance en Suisse romande | Assuravia{% endblock %}
{% block description %}Articles pratiques sur le 3e pilier, la RC professionnelle, la garantie de loyer et les assurances en Suisse romande.{% endblock %}
{% block content %}
<section class="produit produit--simple">
  <div class="cadre">
    <h1>Le guide</h1>
    <p class="chapeau">Des réponses claires aux questions d'assurance et de prévoyance qu'on se pose en Suisse romande. Un nouvel article chaque semaine.</p>
    {% with liste=articles %}{% include "partials/liste-articles.html" %}{% endwith %}
  </div>
</section>
{% endblock %}
